<main class="container">
    <a routerLink="/add" class="ajouterBtn">
      <button mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  
    <h2>Liste des devoirs :</h2>
  
  
    <div class="barrePagination">
        <button mat-flat-button [color]="rendu ? 'primary' : 'info'" (click)="getAssignmentsRendu()">Rendu</button>
        <button mat-flat-button [color]="!rendu ? 'primary' : 'info'" (click)="getAssignmentsNonRendu()">Non Rendu</button>
      <p>Page courante : {{page}}, assignments visibles : {{pagingCounter}} - {{pagingCounter + limit-1}}, nbPages total {{totalPages}}</p>
      <p>Nb assignments par page : <input type="range" min=5 max=100 [(ngModel)]="limit" (change)="getAssignments()">
        {{limit}}
      </p>
  
      <button mat-flat-button color="primary" [disabled]="!hasPrevPage" (click)="premierePage()">Première page</button>
      &nbsp;
  
      <button mat-flat-button color="primary"
              (click)="pagePrecedente()"
              [disabled]="!hasPrevPage"
      >Page précédente</button>
      &nbsp;
      <button mat-flat-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Page suivante</button>
      &nbsp;
      <button mat-flat-button color="primary" (click)="dernierePage()" [disabled]="!hasNextPage">Dernière page</button>
    </div>
    <cdk-virtual-scroll-viewport itemSize="150" class="example-viewport" #scroller>
    <!-- <mat-list *cdkVirtualFor="let assignment of assignments"> -->
      <div class="list-assignment">

    <mat-list  class="card-galerie" *cdkVirtualFor="let assignment of assignments">
    <!-- <mat-list class="card-galerie" *ngFor="let assignment of assignments"> -->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
              <span *ngIf="assignment.matiere!=null; else matiereVide">
                  {{assignment.matiere}}
              </span>
              <ng-template #matiereVide>Matière</ng-template>
          </mat-card-title>
          <mat-card-subtitle>
              <span *ngIf="assignment.professeur!=null; else professeurVide">
                  {{assignment.professeur}}
              </span>
              <ng-template #professeurVide>Professeur</ng-template>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{'../../assets/'+assignment.image}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3 mat-subheader>{{assignment.dateDeRendu | date:"dd/MM/yy"}}</h3>
          <mat-list-item class="nom-assignment">
            <p>
                <span *ngIf="assignment.nom.lenght>150; else nomLong">
                    {{assignment.nom}}
                </span>
                <ng-template #nomLong>{{assignment.nom.substring(0,150)}}...</ng-template>
                </p>
          </mat-list-item>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="/assignment/{{assignment.id}}">Voir fiche</a>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
  
    </mat-list>
  </div>
  </cdk-virtual-scroll-viewport>
  
  </main>
  
  