.rendu {
  color:green;
}

.nonRendu {
  color:red;
  background-color: yellow;
  border: 2px dashed orange;
}

.container {
  display:flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-start;
}
.deconnexion {
  align-self: flex-end;
  float: right;
}

table {
  width: 100%;
}

.mat-column-id {
  color:red;
}
.barrePagination{
  margin: 1rem;
}
.example-viewport {
  height: 50rem;
  width: 100%;
  /* border: 1px solid black; */
}

.example-item {
  height: 150px;
}

.example-card {
  max-width: 100%;
  height: 100%;
}

.example-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
}

.card-galerie{
  width: 25rem;
  margin: 1rem;
  float: left;
}
.cacher button{
  display: none;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.barrePagination button{
  margin-right: 1rem;
}

.barrePagination{
  width: 100%;
}

.button-top{
  margin: 1rem;
}