<div class="html">
	
<form [formGroup]="loginForm" (ngSubmit)="onSignIn()">
		<mat-card class="login-div">
				<mat-card-title>Connectez-vous pour gérer les assignments</mat-card-title>
				<mat-card-actions>
				<mat-form-field class="example-full-width" appearance="fill">
						<mat-label>Login</mat-label>
						<input matInput type="text" class="champ" formControlName="login" placeholder="Login" required>
				</mat-form-field>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.login">
						<div class="error-message" *ngIf="loginForm.get('login').hasError(validation.type) && (loginForm.get('login').dirty || loginForm.get('login').touched)">
							<p style="color:red">{{ validation.message }}</p>
						</div>
					</ng-container>
				</div>
				<mat-form-field class="example-full-width" appearance="fill">
						<mat-label>Mot de passe</mat-label>
						<input matInput type="password" class="champ" formControlName="mdp" placeholder="Mot de passe" required >
				</mat-form-field>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.mdp">
						<div class="error-message" *ngIf="loginForm.get('mdp').hasError(validation.type) && (loginForm.get('mdp').dirty || loginForm.get('mdp').touched)">
							<p style="color:red">{{ validation.message }}</p>
						</div>
					</ng-container>
				</div>
				<div>
					<button mat-stroked-button color="primary" id="boutonLogin" type="submit">Se connecter</button>
					<p style="color:red" id="erreur">{{erreur}}</p>
				</div>
					
			</mat-card-actions>
	</mat-card>
</form>

</div>